<div class="rounded-md bg-[color:#262D34]">
  <div class="bg-gray-200 rounded-md w-full h-48"></div>
  <div class="p-5 flex flex-col gap-1">
    <span class="text-[13px] text-gray-300">Rua desconhecida, 123</span>
    <div class="flex flex-col">
      <span class="text-lg font-bold">Título</span>
      <span class="text-[13px] text-md font-normal">Texto de descricao</span>
    </div>
    <div class="flex items-center gap-1 text-[11px]">
      <i class="ph ph-clock"></i>
      <span>07/02/2026</span>
    </div>
  </div>
</div>
