<app-header></app-header>
<div class="w-9/12 m-auto">
  <div>
    <div class="mt-10 flex flex-col gap-5">
      <div class="bg-[color:#262D34] p-5 rounded-xl">
        <div class="flex gap-2">
          <img src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_640.png" alt="Imagem do usuário"
               class="w-10 h-10 object-cover rounded-full border-4"/>
          <div>
            <p class="text-sm font-bold">Nome do usuário</p>
            <p class="text-xs">Data do post</p>
          </div>
        </div>
        <div class="flex mb-2 mt-6">
          <div class="py-1 px-4 rounded-full bg-[color:#2C353D]">
            <p>Teste</p>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <p class="font-bold text-lg">Como se organizar para um evento internacional?</p>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in magna ac orci commodo cursus. Pellentesque
            et nisi enim. Praesent efficitur augue sit amet magna pellentesque luctus. Donec malesuada lacus finibus
            condimentum viverra. Curabitur fermentum orci neque, et vulputate eros convallis at. Vivamus finibus, dui a
            semper eleifend, dolor massa consequat lorem, cursus tristique sapien felis sit amet libero. Sed vel ante
            massa. Nunc dictum, urna nec hendrerit vehicula, dolor neque fermentum magna, quis congue quam tortor ac
            nulla. Etiam consectetur purus non sapien mollis, id tristique odio tincidunt. Sed vitae arcu turpis. Ut
            finibus enim et mauris varius, sit amet lacinia magna auctor. Aenean eget cursus magna.
          </p>
        </div>

        <div class="w-full flex justify-between items-end mt-4 pt-3 pb-1">
          <div class="flex text-[#C5D0E6] w-2/3 gap-16">
            <div class="flex items-center gap-2">
              <i class="ph ph-heart text-xl"></i>
              <!--
                  <i class="ph-fill ph-heart"></i>
              -->
              <p class="text-sm">Curtir</p>
            </div>
            <div class="flex items-center gap-2">
              <i class="ph ph-chat-circle text-xl"></i>
              <p class="text-sm">Comentar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
