<div class="bg-[color:#262D34] p-5 rounded-xl" (click)="navigate()">
  <div class="flex justify-between">
    <p class="font-bold text-lg">Como se organizar para um evento internacional?</p>
    <i class="ph ph-heart"></i>
<!--
    <i class="ph-fill ph-heart"></i>
-->
  </div>
  <div class="flex my-2">
    <div class="py-1 px-4 rounded-full bg-[color:#2C353D]">
      <p>Teste</p>
    </div>
  </div>
  <div class="w-full flex justify-between items-end mt-4">
    <div class="flex gap-2">
      <img src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_640.png" alt="Imagem do usuário"
           class="w-10 h-10 object-cover rounded-full border-4"/>
      <div>
        <p class="text-sm font-bold">Nome do usuário</p>
        <p class="text-xs">Data do post</p>
      </div>
    </div>
    <div class="flex justify-end text-[#C5D0E6] text-sm w-2/3 gap-16">
      <p>651,324 Vizualizações</p>
      <p>36,6545 Curtidas</p>
      <p>56 comentários</p>
    </div>
  </div>
</div>
