@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #1E1E1E; /* Fundo escuro */
  color: #ffffff; /* Texto claro */
  font-family: 'Poppins', sans-serif;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}
