@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
body {
  background-color: #121212; /* Fundo escuro */
  color: #ffffff; /* Texto claro */
  font-family: 'Poppins', sans-serif;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}
